body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f1f5fd;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 15px;
    text-align: left;
}

main {
    margin-top: 200px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e0f2f1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

.white-text {
    color: white;
}

.home {
    background-color: #e6e3f0;
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    max-width: 1200x;
}

.card {
    background: #f5f5f5;
    width: 320px;
    padding: 30px;
    border-radius: 20px;
    text-decoration: none;
    color: #1d3557;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.testbox{
    margin-top: 200px;
    height: auto;
    background: linear-gradient(180deg,#7b2cff, #c833d6);
    width: 90%;
    padding: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: #1d3557;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin: auto;
}

.testbox:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: white;
    margin-bottom: 15px;
}

.blue {
    background: #1e88e5;
}

.purple {
    background: #d63384;
}

.green {
    background: #28a745;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #555;
    margin-bottom: 20px;
}

.explore {
    color: #7b2cff;
    font-weight: bold;
}

.gradient-text {
    background: linear-gradient(90deg, #ff2cc0, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}