body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f1f5fd;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 15px;
    text-align: left;
}

main {
    margin-top: 120px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e0f2f1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar-upper {
    margin-top: 15px;
    display:flex;
    gap: 30px;
    justify-content: center;
}

.navbar-card {
    background: #ffffff;
    width: 120px;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    color: #737373;
    transition: 0.3s;
}

.navbar-card:hover .nav-icon {
    filter: brightness(0) saturate(100%) invert(52%) sepia(73%) saturate(300%) hue-rotate(240deg);
}

.nav-icon {
    width: 18px;
    height: 18px;
    filter: brightness(0) saturate(100%) invert(45%);
    transition: filter 0.3s;
    margin-right: 8px;
}

.navbar-card:hover {
    background-color: #f8f1ff;
    color:#af80ff
}

.navbar-selected {
    background: #e7d8ff;
    color: #af80ff;
    width: 120px;
    padding: 15px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
    pointer-events: none;
    cursor: default;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.white-text {
    color: white;
    text-align: justify;
    max-width: 750px;
}

.home-star{
    width: 100px;
    transition: filter 0.5s ease;
    margin-bottom: 45px;
}

.home-star:hover {
    filter: brightness(1.5);
}

.gradient-text {
    background: radial-gradient(circle, #ff2cdf, #4800ff);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 700px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-section {
    font-size: 18px;
    color: #555;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 75px;
}

.upper-testbox {
    margin-top: auto;
    padding: 15px;
    display:flex;
    gap: 20px;
    justify-content: left;
    max-width: 500px;
}

.testbox-click{
    display: inline-block;
    width: fit-content;
    margin: auto;
    text-decoration: none;
    color: inherit;
}

.testbox{
    margin-top: 80px;
    height: auto;
    background: linear-gradient(150deg,#7b2cff, #c833d6);
    width: 90vw;
    max-width: 1100px;
    padding: 40px;
    border-radius: 20px;
    text-decoration: none;
    color: #1d3557;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.testbox::after {
    content: "";
    position: absolute;
    top: 0;
    right: 96px;
    width: 300px;
    height: 100%;

    background-image: url("/assets/home_brain.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 250px;

    opacity: 0.10;
    pointer-events: none;
}

.testbox:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.testbox h2 {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 24px;
}

.testbox p {
    color: #f1f5fd;
    font-size: 16px;
    line-height: 1.6;
    max-width: 700px;
    text-align: justify;
    margin-top: 0px;
}

.cards-container {
    margin-top: 30px;
    margin-bottom: 60px;
    display:flex;
    gap: 20px;
    justify-content: center;
    width: 100%;

}

.card {
    background: #f5f5f5;
    width: 320px;
    padding: 30px;
    border-radius: 20px;
    text-decoration: none;
    color: #1d3557;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #555;
    margin-bottom: 20px;
}

.home-icons {
    width: 40px;
    height: auto;
    filter: brightness(0) invert(1)
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: white;
    margin-bottom: 15px;
}

.blue {
    background: linear-gradient(150deg,#2619dc, #1ba3fe);
}

.red {
    background: linear-gradient(150deg,#de1364, #d83ac5);
}

.green {
    background: linear-gradient(150deg,#19dc50, #1bfed8);
}

.violet {
    background: #aa79ff;
}

.explore {
    text-align: left;
    color: #7b2cff;
    font-weight: bold;
}

.health-explanation {
    height: auto;
    text-size-adjust: 10px;
    background: linear-gradient(150deg,#ffd9f4, #ffe0f6);
    max-width: 1100px;
    width: 90%;
    padding: 40px;
    border-radius: 20px;
    transition: 0.3s;
    margin: auto;
}

.health-explanation h2 {
    margin-bottom: 25px;
    font-size:20px
}

.health-explanation p {
    color: #555;
    font-size: 17   px;
    line-height: 1.6;
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.final-section{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    padding-top: 20px;
    color: #767676;
    font-size: 14px;
    margin-top: 50px;
    justify-content: center;
}

.sources {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.sources p {
    margin: 0;
}